@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#home {
  min-height: 100vh;
  padding: 20px;
}
#home .logo {
  max-width: 25rem;
  animation: float 5s ease-in-out infinite;
}
#home h1 {
  font-size: 4rem;
}
#home h2 {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 30px;
}
#home h3 {
  margin-bottom: 30px;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}
#about {
  min-height: 100vh;
  flex-direction: column;
  max-width: 100vw;
  background-color: var(--secondary-color);
}
#about h2 {
  margin: 20px;
  font-size: 3rem;
  text-align: center;
  color: var(--highlight-color);
}
#about .about-sections {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}
#about .about-sections .about-item {
  max-width: 350px;
  border-radius: 15px;
  border-left: 3px solid var(--highlight-color);
  background-color: var(--primary-color);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin: 10px;
}
#about .about-sections .about-item p {
  margin-top: 10px;
}
#about .about-sections .about-item:hover {
  background-color: var(--highlight-color);
  transition: 0.6s;
}
#about .prototipe {
  margin-top: 20px;
  margin-bottom: 45px;
  flex-wrap: wrap;
}
#about .prototipe .btn {
  margin: 10px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
}

#action {
  flex-direction: column;
  background-color: var(--terciary-color);
  min-height: 45vh;
  text-align: center;
  padding: 20px;
}
#action h2 {
  margin: 10px;
}
#action p {
  margin: 10px;
}
#action #form {
  flex-wrap: wrap;
  margin: 10px;
}
#action #form .form-input {
  padding: 10px;
}
#action #form .form-input label {
  font-size: 16px;
}
#action #form .form-input input {
  padding: 10px;
  margin: 5px;
  min-width: 250px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: var(--highlight-color);
  border: none;
  caret-color: var(--highlight-color);
}
#action #form .form-input input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
#action #form .btn-form {
  text-decoration: none;
  padding: 10px 30px;
  font-size: 14px;
  border-radius: 30px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--contrast-color);
  cursor: pointer;
}
#action #form .btn-form:hover {
  background-color: var(--highlight-color);
  color: var(--contrast-color);
  font-weight: bold;
  transition: 0.6s;
}

#footer {
  text-align: center;
  background-color: var(--terciary-color);
}
#footer p {
  padding: 20px;
  min-width: 100%;
  background-color: var(--highlight-color);
  border-radius: 15px 15px 0px 0px;
}
#footer p:hover {
  font-size: 18px;
  text-decoration: underline;
  transition: 0.4s;
}

:root {
  --primary-color: #1f1347;
  --secondary-color: #170D3D;
  --terciary-color: #110933;
  --quarternary-color: #0B0629;
  --highlight-color: #ff5757;
  --contrast-color: #fff;
}

.flex-central, #home, #about, #about .prototipe, #action, #action #form {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--highlight-color) var(--primary-color);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--contrast-color);
  background-color: var(--primary-color);
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--highlight-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 1px solid var(--highlight-color);
}

::selection {
  background-color: var(--highlight-color);
  color: var(--contrast-color);
}

.btn {
  color: var(--contrast-color);
  background-color: var(--highlight-color);
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 30px;
}
.btn:hover {
  background-color: var(--contrast-color);
  color: var(--primary-color);
  font-weight: bold;
  transition: 0.6s;
}

.btn-outline {
  color: var(--highlight-color);
  text-decoration: none;
  padding: 12px 36px;
  border-radius: 30px;
  border: 1px solid var(--highlight-color);
}
.btn-outline:hover {
  background-color: var(--highlight-color);
  color: var(--contrast-color);
  font-weight: bold;
  transition: 0.6s;
}

@media (max-width: 760px) {
  #home {
    flex-direction: column;
  }
  #home .logo {
    max-width: 20rem;
    margin: 0px;
    padding: 0px;
  }
  #home .intro-text h1 {
    font-size: 2rem;
  }
  #home .intro-text h2 {
    font-size: 1.5rem;
  }
  #action #form {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
