#about{
    @extend .flex-central;
    min-height: 70vh;
    flex-direction: column;
    background-color: #f5f5f5;
    color: #1c1c1c;
    max-width: 100vw;
    h2{
        margin: 20px;
        font-size: 3rem;
        text-align: center;
        color: #FF5757;
    }
    .about-sections{
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        .about-item{
            background-color: #ffffff;
            max-width: 350px;
            border-radius: 15px;
            padding: 20px;
            margin: 10px;
            p{
                margin-top: 10px;
            }
            &:hover{
                background-color: #FF5757;
                color: #ffffff;
                transition: 0.2s;
            }
        }
    }
    .prototipe{
        margin-top: 20px;
        margin-bottom: 45px;
        @extend .flex-central;
        flex-wrap: wrap;
        .btn{
            margin: 10px;
        }
    }
}