#home{
    @extend .flex-central;
    min-height: 100vh;
    padding: 20px;
    .logo{
        max-width: 25rem;
        animation: float 5s ease-in-out infinite;
    }
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    h3{
        margin-bottom: 30px;
    }
}

//animation
@keyframes float{
    0%{
        transform: translatey(0px);
    }
    50%{
        transform: translatey(-30px);
    }
    100%{
        transform: translatey(0px);
    }
}