//Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './home.scss';
@import './about.scss';
@import './action.scss';

//Colors
:root{
    --primary-color: #1f1347;
    --secondary-color: #170D3D;
    --terciary-color: #110933;
    --quarternary-color: #0B0629;
    --highlight-color: #ff5757;
    --contrast-color: #fff;
}


//Extends
.flex-central{
    display: flex;
    justify-content: center;
    align-items: center;
}

//Default Settings
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--highlight-color) var(--primary-color);
}
html {
    scroll-behavior: smooth;
} 
body{
    font-family: 'Roboto', sans-serif;
    color: var(--contrast-color);
    background-color: var(--primary-color);
    min-height: 100vh;
}
body::-webkit-scrollbar {
    width: 12px;               
}
body::-webkit-scrollbar-track {
    background: var(--highlight-color);        
}  
body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);    
    border-radius: 20px;      
    border: 1px solid var(--highlight-color); 
}
::selection{
    background-color: var(--highlight-color);
    color: var(--contrast-color);
}
.btn{
    color: var(--contrast-color);
    background-color: var(--highlight-color);
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 30px;
    &:hover{
        background-color: var(--contrast-color);
        color: var(--primary-color);
        font-weight: bold;
        transition: 0.6s;
    }
}
.btn-outline{
    color: var(--highlight-color);
    text-decoration: none;
    padding: 12px 36px;
    border-radius: 30px;
    border: 1px solid var(--highlight-color);
    &:hover{
        background-color: var(--highlight-color);
        color: var(--contrast-color);
        font-weight: bold;
        transition: 0.6s;
    }
}


//Responsividade
@media (max-width:760px){
    #home{
        flex-direction: column;
        .logo{
            max-width: 20rem;
            margin: 0px;
            padding: 0px;
        }
        .intro-text{
            h1{
                font-size: 2rem;
            }
            h2{
                font-size: 1.5rem;
            }
        }
    }
    #action{
        #form{
            flex-direction: column;
        }
    }
}